.tops {
    width: 700px !important;
    padding: 20px;
}

.tops p {
    color: white;
}

.tops h3 {
    display: inline-flex;
    align-items: center;
}

.top-ico {
    height: 40px;
    width: 40px;
    display: block;
    background-size: cover !important;
    margin-right: 10px;
    border: 2px solid white;
    border-radius: 25px;
}

.top_info {
    padding: 0 50px;
    max-height: 70vh;
    overflow: auto;
}

.top_info li {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.top_info li:not(:first-child) {
    padding: 10px 0;
    border-bottom: 1px solid #ffffff24;
}

.top_info li div {
    width: 100%;
}

.top_info li .nick {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.top_info li .title {
    color: white;
}

.top_info li:nth-child(1) {
    margin: 20px 0;
}

#loading {
    width: 30px;
    height: 30px;
}

select.top-select {
    background: none;
    color: white;
    padding: 5px 20px 5px 5px;
    border: 2px solid;
    border-radius: 25px;
}

select.top-select option {
    color: black;
}

.online {
    max-width: 18px;
    height: 18px;
    margin-right: 5px;
    background-repeat: no-repeat !important;
    filter: opacity(0.8);
}

.changes-anim {
    animation: changes 1s ease;
    border-radius: 25px;
}

.not-founded h3 {
    color: white;
}

.count-change {
    position: relative;
    left: -60px;
    font-size: 13px;
    width: 0 !important;
}


/* @keyframes changes {
    to {
        box-shadow: inset 1px 1px 9px white;
    }
} */

@keyframes changes {
    from {
        left: 0;
    }
    to {
        left: -60px;
    }
}

@media only screen and (max-width: 650px) {
    .tops {
        padding: 10px !important;
        border-radius: 30px !important;
        margin-top: 65px !important;
    }
    .top_info {
        max-height: 60vh;
        padding: 0;
    }
}