<div id="main_area" class="registr">
  <h3>Регистрация!</h3>
  <p>
    <mat-form-field>
      <input [(ngModel)]="nick" matInput placeholder="Введите ник">
    </mat-form-field>
  </p>
  <p>
    <mat-form-field>
      <input type="password" [(ngModel)]="password" matInput placeholder="Введите пароль">
    </mat-form-field>
  </p>
  <p>
    <mat-form-field>
      <input type="password" [(ngModel)]="repeat_password" matInput placeholder="Повторите пароль">
    </mat-form-field>
  </p>
  <p><button mat-raised-button color="primary" (click)="Registr(nick, password, repeat_password);">Войти</button></p>
</div>
