<app-sidebar></app-sidebar>
<div id="main_area" class="admins">
  <ul class="category">
    <li>
      <label [ngClass]="{'active': !hideModers}">Модераторы
        <input type="radio" checked hidden name="choice" (change)="hideModers=false">
      </label>
    </li>
    <li>
      <label [ngClass]="{'active': hideModers}">Администрация
        <input type="radio" hidden name="choice" (change)="hideModers=true">
      </label>
    </li>
  </ul>
  <div id="m_title" [hidden]="hideModers">
    <h1>Модераторы онлайн:</h1>
  </div>
  <div id="a_title" [hidden]="!hideModers">
    <h1>Администрация онлайн:</h1>
  </div>
  <ul class="sec" [hidden]="hideModers">
    <li *ngIf="modersNotFounded">
      <h3>Ни одного модера нет онлайн</h3>
    </li>
    <li *ngFor="let moder of moders">
      <div class="img">
        <a [href]="moder.url" target="_blank"
          [ngStyle]="{background: 'url('+ moder.photo +')', backgroundSize: 'cover'}"></a>
        <div class="nick">{{moder.nick}}</div>
      </div>
    </li>
  </ul>
  <ul class="sec" [hidden]="!hideModers">
    <li *ngIf="adminsNotFounded">
      <h3>Ни одного админа нет онлайн</h3>
    </li>
    <li *ngFor="let admin of admins">
      <div class="img">
        <a [href]="admin.url" target="_blank"
          [ngStyle]="{background: 'url('+ admin.photo +')', backgroundSize: 'cover'}"></a>
        <div class="nick">{{admin.nick}}</div>
      </div>
    </li>
  </ul>
  <div id="loading" [hidden]="hideLoading"></div>
</div>
