<nav class="left-header">
  <aside>
    <a routerLink="/shop" data-info="Магазин" class="nav-ico ico-shop" routerLinkActive="active"
      [routerLinkActiveOptions]="{exact: true}"></a>
    <a routerLink="/moders" data-info="Модераторы" class="nav-ico ico-moders" routerLinkActive="active"
      [routerLinkActiveOptions]="{exact: true}"></a>
    <a routerLink="/tops" data-info="Онлайн топы" class="nav-ico ico-tops" routerLinkActive="active"
      [routerLinkActiveOptions]="{exact: true}"></a>
  </aside>
</nav>