<section id="mafia" #mafia [style.top.px]="maf_center">
  <div id="noticeContainer"></div>
  <section id="corridor" [hidden]="room_data.status === 'play'">
    <header class="corridor-header">
      <nav class="nav-left">
        <div class="prof-image" [style.background]="'url('+ my_photo +')'" (click)="profilePopup();">
        </div>
        <div class="prof-nick">{{my_nick}}</div>
      </nav>
      <nav class="corridor-nav-center">
        <button class="tops-button head-buttons"></button>
        <button class="achievements-button head-buttons"></button>
        <button class="rating-button head-buttons"></button>
      </nav>
      <nav class="corridor-nav-right">
        <div class="balance-money head_balance">
          <i class="ico small-ico i-money"></i>
          <span>{{balance.money}}</span>
        </div>
        <div class="balance-diamond head_balance">
          <i class="ico small-ico i-diamond"></i>
          <span>{{balance.diamond}}</span>
        </div>
        <div><button class="ico button-buy" (click)="donate_popup=true;"></button></div>
      </nav>
    </header>
    <section class="corridor-middle margin">
      <div class="friend-column corridor-side">
        <h4>Мои друзья</h4>
        <ul id="friends">
          <li>
            <div>
              <div class="friend-photo small-photo"></div>
            </div>
            <div class="friend-nick column-nick">Nail</div>
            <div>
              <div class="friend-message pm"></div>
            </div>
          </li>
        </ul>
      </div>
      <ng-container #room_actions>
        <div class="room-enrollment" [hidden]="room_data.status !== 'wait'">
          <div class="header-room-enrollment">
            <div class="room-rating-enr">Рейтинг: {{room_data?.rating}}</div>
            <div class="room-size-enr">Игроков:
              <span id="player_count">{{room_data.players?.length}}</span> /{{room_data?.size}}
            </div>
            <div class="room-timer-enr">
              <span></span>
              <div class="timer-enr"></div>
            </div>
            <div class="room-exit-btn-enr">
              <button class="small-button exit-btn" (click)="exitFromRoom();">Выйти</button>
            </div>
          </div>
          <ul id="user_enrollment_list" class="user-enrollment-list" [ngClass]="room_data.class">
            <ng-container *ngFor="let item of createRange(room_data.size); let i = index;">
              <li>
                <div *ngIf="room_data.players[i]" class="user-enrollment-photo"
                  [style.background]="'url('+ room_data.players[i].photo +')'">
                </div>
                <div *ngIf="room_data.players[i]" class="user-enrollment-nick"
                  (click)="profilePopup(room_data.players[i].id);">{{room_data.players[i].nick}}</div>
              </li>
            </ng-container>
          </ul>
          <ng-template #players>
            <li *ngFor="let player of room_data?.players">
              <div class="user-enrollment-photo" [style.background]="'url('+ player.photo +')'">
              </div>
              <div class="user-enrollment-nick" (click)="profilePopup(player.id);">{{player.nick}}</div>
            </li>
          </ng-template>
        </div>
        <div class="room-column corridor-middle-column" [hidden]="room_data.status !== 'def'">
          <ul id="rooms">
            <li *ngFor="let room of room_list">
              <div class="creator-nick nick" (click)="profilePopup(room?.players[0].id);">
                {{room?.players[0].nick}}
              </div>
              <div class="room-rating">Рейтинг: {{room?.rating}}</div>
              <div class="room-size">{{room?.size}}</div>
              <div class="room-bet">{{room?.bet}}</div>
              <div class="room-button">
                <button class="room-enter small-button" (click)="roomEntrance(room?.room_id);">Войти</button>
              </div>
            </li>
          </ul>
        </div>
        <div class="room-action corridor-side" [hidden]="room_data.status !== 'def'">
          <div class="room_action-buttons">
            <div><button class="start-play-btn" (click)="startGame();" matRipple
                matRippleColor="#1d865659">Играть</button></div>
            <div><button mat-raised-button color="primary" (click)="create_room_popup=true;">Создать</button></div>
          </div>
        </div>
      </ng-container>
    </section>
    <section class="bottom margin">
      <div class="online-column corridor-side">
        <h4>{{online_title}}</h4>
        <ul id="online">
          <li *ngFor="let user of users_online">
            <div>
              <div class="user-photo small-photo" [style.background]="'url('+ user.photo +')'"
                (click)="profilePopup(user._id);">
              </div>
            </div>
            <div class="user-nick column-nick">{{user.nick}}</div>
            <div>
              <div *ngIf="user._id !== my_id" class="ico small-ico pm" data-location="corridor"
                (click)="pmPopup(user._id, user.nick, pm, user.photo);"></div>
            </div>
          </li>
        </ul>
      </div>
      <div class="chat-column corridor-middle-column">
        <div id="main_chat" class="chat-area">
          <p *ngFor="let msg of messages" [ngClass]="msg.class">
            <!-- Private messages -->
            <ng-container *ngIf="msg.msg_type === 'private'">
              <span class="time">{{msg.time | date:'HH:mm'}}</span>
              <span class="nick" (click)="profilePopup(msg.from_id);">{{msg.from_nick}}</span>
              <span class="private-text">приватно</span>
              <span class="nick" (click)="profilePopup(msg.to_id);">{{msg.to_nick}}</span>:
              <span class="message-text" [innerHTML]="msg.message"></span>
            </ng-container>
            <!-- Main messages -->
            <ng-container *ngIf="msg.msg_type !== 'private'">
              <span *ngIf="in_corridor" class="time">{{msg.time | date:'HH:mm'}}</span>
              <span class="nick" [class.my-nick]="msg.from_nick === my_nick"
                (click)="profilePopup(msg.from_id);">{{msg.from_nick}}</span>:
              <span class="message-text" [class.shout-msg]="msg.type === 'shout_message'"
                [innerHTML]="msg.message"></span>
            </ng-container>
          </p>
        </div>
        <div id="private_chat" class="chat-area" hidden></div>
        <div class="input-area">
          <input type="text" class="chat-input" placeholder="Введите сообщение" #corridor_chat_input
            (keyup.enter)="sendMessage('main', corridor_chat_input);">
          <div class="input-btns">
            <button class="ico small-ico input-btn shout" (click)="sendMessage('shout', corridor_chat_input);"></button>
            <button class="ico small-ico input-btn smiles" (click)="smilesPopup('corridor', smiles);"></button>
            <button class="ico small-ico input-btn send" (click)="sendMessage('main', corridor_chat_input);"></button>
          </div>
        </div>
      </div>
      <div class="activities-column corridor-side"></div>
    </section>
    <footer class="mafia-footer margin">
      <div class="left-footer corridor-side"></div>
      <div class="middle-footer corridor-middle-column">
        <ul id="chat_switch">
          <li>Основной чат</li>
          <li>Личные сообщения</li>
        </ul>
      </div>
      <div class="right-footer corridor-side"></div>
    </footer>
  </section>

  <section id="room" [hidden]="room_data.status !== 'play'">
    <section class="room-middle margin">
      <article class="room-chat">
        <div id="room_chat_switch">
          <button class="room-chat-switch-btn">Общий чат</button>
          <button class="room-chat-switch-btn">Личные сообщения</button>
        </div>
        <div id="room_data">
          <ul id="civilians_in_live" class="in-live">
            <li *ngFor="let civils of room_data.civilians"></li>
          </ul>
          <div id="civilians_count" class="civilians-count">{{room_data.civilians?.length}}</div>
          <div id="room_timer" class="room-timer"></div>
          <div id="villains_count" class="villains-count">{{room_data.villains?.length}}</div>
          <ul id="villains_in_live" class="in-live">
            <li *ngFor="let civils of room_data.villains"></li>
          </ul>
        </div>
        <div id="room_chat" class="chat-area">
          <div class="initial-text">
            <div class="role-info">
              <div class="my-role"></div>
              <div class="role-data">
                <div id="role_title" class="role-title">{{my_nick}}, Ваша роль -
                  {{room_data.role_name}}
                </div>
                <div id="role_explain" class="role-explain">{{room_data.role_explain}}</div>
              </div>
            </div>
            <div class="time-of-day 'room_data.day_time'">
              {{room_data.time_of_day}}
            </div>
          </div>
        </div>
        <div id="room_input_area">
          <div class="input-area">
            <input type="text" class="chat-input in-room" placeholder="Введите сообщение"
              (keyup.enter)="sendMessage('main', room_chat_input);" #room_chat_input>
            <button class="ico small-ico input-btn shout" (click)="sendMessage('shout', room_chat_input);"></button>
            <button class="ico small-ico input-btn smiles" (click)="smilesPopup('room', smiles);"></button>
            <button class="ico small-ico input-btn send" (click)="sendMessage('main', room_chat_input);"></button>
          </div>
        </div>
      </article>
      <aside class="room-aside">
        <div id="room_friends_list"></div>
        <ul id="player_list">
          <li *ngFor="let player of room_data.players">
            <div class="player-role player-list">{{player.role_name}}</div>
            <div class="player-info player-list">
              <div class="player-nick">{{player.nick}}</div>
            </div>
            <div class="action-button player-list">
              <button *ngIf="player._id !== my_id" class="action-btn"
                (click)="actionConfirmPopup('vote', player.id, player.nick)">Гол</button>
            </div>
          </li>
        </ul>
        <div id="control_panel"></div>
      </aside>
    </section>
    <footer class="room-footer">
      <section class="extras">
        <ul id="extras">
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ul>
      </section>
    </footer>
  </section>
  <div #smiles class="smiles-area" (mouseleave)="hide_smiles=true;" [hidden]="hide_smiles">
    <h3>Обычные смайлы</h3>
    <ul class="smile-field">
      <!-- (click)="in_room ? room_chat_input.value :
        corridor_chat_input.value += smile.value -->
      <!-- <li *ngFor="let smile of emoji.smiles | keyvalue" class="smile_{{smile.key}} simple-smile"
        (click)="addSmileToInput(smile.value, in_room ? room_chat_input :
        corridor_chat_input);"> -->
      <li *ngFor="let smile of emoji.smiles; let i = index;" class="smile_{{i + 1}} simple-smile" (click)="addSmileToInput(smile, in_room ? room_chat_input :
        corridor_chat_input);">
      </li>
    </ul>
    <ul class="smile-switch">
      <li>Обычные смайлы</li>
      <li>Наклейки</li>
      <li>Анимационные</li>
    </ul>
  </div>
  <div id="popupContainer">
    <!-- Donate popup -->
    <div #donate_buy class="donate-buy-popup popup-align" cdkDrag cdkDragBoundary="#mafia" [hidden]="!donate_popup">
      <div class="prof-close popup-close" (click)="closePopup('donate_popup', donate_buy);">×</div>
      <h3>Покупай монеты по выгодным ценам!</h3>
      <div class="donate-switch">
        <button class="donate-switch-btn active" [class.active]="money_button" (click)="money_button=true;" matRipple
          matRippleColor="#4d47a052">Монеты</button>
        <button class="donate-switch-btn" [class.active]="!money_button" (click)="money_button=false;" matRipple
          matRippleColor="#4d47a052">Алмазы</button>
      </div>
      <ul class="money-buy donate-ul" [hidden]="!money_button">
        <li *ngFor="let money of donate.money; let i = index;">
          <div class="currency-count">
            <i class="ico small-ico i-money currency"></i>
            {{money.count}}
          </div>
          <div class="currency-amount">Цена: {{money.amount}}₽</div>
          <div class="currency-button">
            <button class="donate-buy-button" (click)="buyDonate('money', i + 1);" matRipple>Купить</button>
          </div>
        </li>
      </ul>
      <ul class="diamond-buy donate-ul" [hidden]="money_button">
        <li *ngFor="let diamond of donate.diamond; let i = index;">
          <div class="currency-count">
            <i class="ico small-ico i-diamond currency"></i>
            {{diamond.count}}
          </div>
          <div class="currency-amount">Цена: {{diamond.amount}}₽</div>
          <div class="currency-button">
            <button class="donate-buy-button" (click)="buyDonate('diamond', i + 1);" matRipple>Купить</button>
          </div>
        </li>
      </ul>
    </div>
    <!-- Profile -->
    <!-- [style.left.px]="(mafia.clientWidth/2)-(profile.clientWidth/2)"
      [style.top.px]="(mafia.clientHeight/2)-(profile.clientHeight/2)" -->
    <div #profile class="profile popup-align" cdkDrag cdkDragBoundary="#mafia" [hidden]="!profile_popup">
      <header class="prof-header">
        <nav class="prof-nav">
          <button class="prof_head-button active">Профиль</button>
          <button class="prof_head-button">Статистика</button>
          <button class="prof_head-button">Достижения</button>
          <div class="prof-close popup-close" (click)="closePopup('profile_popup', profile)">×</div>
        </nav>
      </header>
      <section class="prof-middle margin">
        <div class="prof-column prof-rank">
          <h3>Звание</h3>
          <div class="rank-image"></div>
          <h4>Маршал IV</h4>
        </div>
        <div class="prof-column prof-content">
          <div class="prof-image" [style.background]="'url('+ profile_data.photo +')'"></div>
          <div class="prof-nick">{{profile_data.nick}}</div>
          <div class="level-progress">
            <div class="l-progress"></div>
            <div class="prof-level">{{profile_data.level}}</div>
            <div class="level-percents">10%</div>
          </div>
          <nav class="prof-actions">
            <button class="message-to prof-action-btn"
              (click)="pmPopup(profile_data.id, profile_data.nick, pm, profile_data.photo)">Отправить
              сообщение</button>
            <button class="add-friend prof-action-btn" (click)="addToFriend(profile_data.id);">Добавить в
              друзья</button>
          </nav>
        </div>
        <div class="prof-column prof-awards">
          <h3>Награды</h3>
          <ul id="prof_awards">
            <li></li>
          </ul>
        </div>
      </section>
      <footer class="prof-footer margin">
        <button class="present-btn" (click)="makePresent(profile_data.id);">Сделать подарок</button>
        <ul id="presents">
          <li></li>
        </ul>
      </footer>
    </div>
    <!-- PM popup -->
    <div #private_message class="private-message popup-align" cdkDrag cdkDragBoundary="#mafia" [hidden]="!pm_popup">
      <header class="private_message-header">
        <div class="popup-close" (click)="closePopup('pm_popup', private_message);">×</div>
        <h3>Сообщение для {{pm_data.nick}}</h3>
      </header>
      <div class="private_messages-area">
        <p *ngFor="let pm of pm_messages" class="pm-p" [class.from_me]="pm.from_id === my_id">
          <span class="nick" [class.nick-my]="pm.from_id === my_id">{{pm.from_nick}}</span>:
          <span class="pm-msg" [innerHTML]="pm.message"></span>
        </p>
      </div>
      <div class="private_messages-input">
        <input type="text" #pm placeholder="Введите сообщение"
          (keydown)="messageKeydown($event, 'private', pm_data.id);" class="chat-input pm-input">
        <button class="ico small-ico input-btn send" (click)="sendMessage('private', pm, pm_data.id);"></button>
      </div>
    </div>
    <!-- Create Room Popup -->
    <div #create_room class=" create-room popup-align" cdkDrag cdkDragBoundary="#mafia" [hidden]="!create_room_popup">
      <div class="prof-close popup-close" (click)="closePopup('create_room_popup', create_room);">×</div>
      <h3>Создать комнату</h3>
      <div class="create-room-params">
        <label>
          Рейтинг:
          <select #room_rating>
            <option *ngFor="let opt of create_options.rating" [value]="opt">{{opt}}</option>
          </select>
        </label>
        <label>
          Размер комнаты:
          <select #room_size>
            <option *ngFor="let opt of create_options.size" [value]="opt">{{opt}}</option>
          </select>
        </label>
        <label>
          Ставка:
          <select #room_bet>
            <option *ngFor="let opt of create_options.bet" [value]="opt">{{opt}}</option>
          </select>
        </label>
        <label>
          Без очереди:
          <input type="checkbox" #without_turn>
        </label>
      </div>
      <div class="cr-btn-area">
        <button class="create-btn"
          (click)="createRoom(+room_rating.value, +room_size.value, +room_bet.value, without_turn.checked);"
          matRipple>Создать</button>
      </div>
    </div>
  </div>
</section>
