/* Room actions */

.room-action .room_action-buttons {
    transform: translateY(180px);
    text-align: center;
}

.room-action .room_action-buttons .start-play-btn {
    width: 150px;
    height: 45px;
    font-size: 20px;
    color: white;
    border: 2px solid;
    background: none;
    border-radius: 10px;
    margin-bottom: 15px;
    cursor: pointer;
}

.room-action .room_action-buttons .create-room-btn {
    width: 100px;
    height: 40px;
    font-size: 20px;
    color: #c7c11b;
    border: 2px solid;
    background: none;
    border-radius: 10px;
    margin-bottom: 15px;
    cursor: pointer;
}


/*  */


/* Auction */

.auction {
    width: 750px;
    height: 500px;
    background: linear-gradient(-45deg, #363f00, #00686a, #002a22);
    border: 2px solid #607D8B;
}

.auction h3 {
    text-align: center;
    color: white;
    font-size: 34px;
    text-transform: uppercase;
}

.auction div {
    text-align: center;
    margin: auto;
    margin-top: 35px;
    color: white;
}

.auction .auction-role {
    width: 130px;
    height: 130px;
    border: 3px solid white;
    border-radius: 12px;
    box-shadow: 0px 0px 11px 3px;
}

.auction .role-name {
    font-size: 20px;
    margin-top: 10px;
}

.auction .auction-bet {
    font-size: 30px;
}

.auction .auction-btn .auc-btn {
    width: 175px;
    height: 52px;
    background: none;
    color: white;
    border: 2px solid;
    font-size: 30px;
    border-radius: 25px;
    cursor: pointer;
}

.auction .auction-timer {
    margin-top: 25px;
}


/*  */


/* room Enrollment */

#room_actions {
    width: 100%;
    display: flex;
}

.room-enrollment {
    width: 100%;
    height: 100%;
    background: #252323;
}

.room-enrollment .header-room-enrollment {
    display: flex;
    height: 35px;
    align-items: center;
    color: white;
    background: #525050;
}

.room-enrollment .header-room-enrollment div {
    width: 200px;
    text-align: center;
}

.room-enrollment .header-room-enrollment .room-rating-enr {}

.room-enrollment .header-room-enrollment .room-size-enr {}

.room-enrollment .header-room-enrollment .room-timer-enr {}

.room-enrollment .header-room-enrollment .room-timer-enr span {}

.room-enrollment .header-room-enrollment .room-timer-enr .timer-enr {}

.room-enrollment .header-room-enrollment .room-exit-btn-enr {
    transform: translateX(100px);
    text-align: right;
}

.room-enrollment .header-room-enrollment .room-exit-btn-enr .exit-btn {
    background: #278437;
}

.room-enrollment ul.user-enrollment-list {
    height: 223px;
    margin: 21px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.room-size2,
.room-size8 {
    height: 100px !important;
}

.room-size12 {
    height: 150px !important;
}

.room-size16 {
    height: 200px !important;
}

.room-size20 {
    height: 223px !important;
}

.room-enrollment ul.user-enrollment-list li {
    width: 200px;
    height: 40px;
    /* background: #2d2a2a; */
    margin: 0 8px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    overflow: hidden;
    border: 1px solid #ffffff69;
    border-right: none;
}

.room-enrollment ul.user-enrollment-list li .user-enrollment-photo {
    width: 40px;
    height: 100%;
    background: #171717;
    margin-right: 10px;
    background-size: cover !important;
}

.room-enrollment ul.user-enrollment-list li .user-enrollment-nick {
    color: white;
    font-size: 15px;
    cursor: pointer;
}


/*  */


/* Game */

section#room {
    height: 100%;
}

header.room-header {
    height: 50px;
    background: #252424;
}

.room-middle {
    height: 700px;
    display: flex;
}

.room-middle article.room-chat {
    background: #232222;
    width: 950px;
}

.room-middle .room-aside {
    width: 250px;
    background: #3a3a38;
}

footer.room-footer {
    height: 90px;
    margin: 5px 20px;
}

footer.room-footer section.extras {
    height: 80px;
    background: #505450;
}

footer.room-footer section#control_panel {
    height: 30px;
    background: #252424;
}

#room_friends_list {
    height: 30px;
}


/* Extras */

ul#extras {
    margin: 0;
    padding: 0 5px;
    height: 80px;
    background: #3a3a38;
    display: flex;
    align-items: center;
    justify-content: center;
}

ul#extras li {
    width: 60px;
    height: 60px;
    border: inset 2px #2b2b2a;
    margin-right: 7px;
    border-radius: 5px;
    box-shadow: 0px 0px 8px 1px #1d1d1c;
}


/* Player list */

aside.room-aside ul#player_list {
    margin: 0;
    padding: 0;
    height: 635px;
    overflow: auto;
}

aside.room-aside ul#player_list li {
    height: 75px;
    background: #31312f;
    margin: 0 3px;
    border-radius: 5px;
    display: flex;
}

aside.room-aside ul#player_list li:not(:last-child) {
    margin-bottom: 5px;
}

aside.room-aside ul#player_list li .player-role {
    width: 75px;
    background: #252524;
    margin-right: 8px;
    border-radius: 10px;
}

aside.room-aside ul#player_list li .player-info {
    width: 108px;
    color: white;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

aside.room-aside ul#player_list li .player-list {
    display: flex;
    align-items: center;
}

aside.room-aside ul#player_list li .action-button button.action-btn {
    height: 45px;
    width: 45px;
    border-radius: 10px;
    border: 2px solid white;
    background: #0066ff;
    color: white;
    cursor: pointer;
    margin-left: 5px;
}


/* Control panel */

aside.room-aside #control_panel {
    height: 35px;
}


/* Room chat */


/* Top chat panel */

#room_info {
    height: 40px;
    background: #2d2b2b;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* #room_info div {
    margin-right: 10px;
} */

#room_info ul.in-live {
    margin: 0 20px;
    padding: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#room_info ul.in-live li {
    width: 35px;
    height: 35px;
    margin: 5px;
    border-radius: 5px;
    border: 1px solid #1d1c1c;
}

#room_info .room-timer {
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 2.2;
    background: #107079;
    border-radius: 25px;
    font-weight: bold;
    color: white;
    border: 2px solid;
}

#room_info .civilians-count,
#room_info .villains-count {
    color: white;
}

#room_info .civilians-count {
    transform: translateX(-10px);
    font-weight: bold;
}

#room_info .villains-count {
    transform: translateX(10px);
    font-weight: bold;
}


/* Room chat */

#room_chat {
    height: 585px;
    background: #232222;
    overflow: auto;
    margin: 5px;
}

#room_chat_switch {
    height: 30px;
    background: #272721;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.room-chat-switch-btn {
    width: 155px;
    height: 25px;
    color: white;
    cursor: pointer;
    background: #0f1a29;
    border: none;
    border-radius: 25px;
    font-size: 12px;
    margin-right: 5px;
}

#room_chat .role-info {
    margin: 5px;
    display: flex;
    align-items: center;
    background: #2d2b2b;
    border-radius: 5px;
    overflow: hidden;
}

#room_chat .role-info .my-role {
    height: 75px;
    width: 75px;
    background: #444242;
    margin-right: 5px;
}

#room_chat .role-info .role-data {
    width: 850px;
    color: white;
}

#room_chat .role-info .role-data .role-title {
    font-size: 18px;
    font-weight: bold;
}

#room_chat .role-info .role-data .role-explain {
    font-size: 14px;
    margin-top: 5px;
    color: #c1bfbf;
}

#room_chat p {
    margin: 10px 5px;
}


/*  */


/* Action confirm */

.action-confirmation {
    width: 400px;
    height: 220px;
    background: #252524;
    text-align: center;
    color: white;
}

.action-confirmation h3 {
    margin-top: 40px;
}

.action-confirmation .action-confirm-btn {
    margin-top: 100px;
}

.action-confirmation .action-confirm-btn .confirm-btn {
    width: 150px;
    height: 35px;
    font-size: 18px;
    border: 2px solid;
    color: white;
    background: #3c3c3a;
    border-radius: 25px;
    margin: 0 5px;
    cursor: pointer;
    font-weight: bold;
}


/*  */


/* Chat emoji */

.chat-emoji {
    width: 25px;
    height: 25px;
    background: url(/assets/mafia/img/smiles.svg) no-repeat 0 0 /240px;
    vertical-align: -8px;
    display: inline-block;
    margin: 0 2px;
}

.emoji-smiles {
    background: url(/assets/mafia/img/smiles.svg) no-repeat 0 0 / 475px;
}

.chat-smile2 {
    background-position-x: calc((-43px / 2) * 2);
}

.chat-smile3 {
    background-position-x: calc(-43px * 2);
}

.chat-smile4 {
    background-position-x: calc(-43px * 3);
}

.chat-smile5 {
    background-position-x: calc(-43px * 4);
}

.chat-smile6 {
    background-position-x: calc(-43px * 5);
}

.chat-smile7 {
    background-position-y: calc((-43px / 2) * 2);
}

.chat-smile8 {
    background-position: -43px -43px;
}

.chat-smile9 {
    background-position: calc(-43px * 2) -43px;
}

.chat-smile10 {
    background-position: calc(-43px * 3) -43px;
}

.chat-smile11 {
    background-position: calc(-43px * 4) -43px;
}

.chat-smile12 {
    background-position: calc(-43px * 5) -43px;
}

.chat-smile13 {
    background-position-y: calc(-43px * 2);
}

.chat-smile14 {
    background-position: -43px calc(-43px * 2);
}

.chat-smile15 {
    background-position: calc(-43px * 2) calc(-43px * 2);
}

.chat-smile16 {
    background-position: calc(-43px * 3) calc(-43px * 2);
}

.chat-smile17 {
    background-position: calc(-43px * 4) calc(-43px * 2);
}

.chat-smile18 {
    background-position: calc(-43px * 5) calc(-43px * 2);
}

.chat-smile19 {
    background-position-y: calc(-43px * 3);
}

.chat-smile20 {
    background-position: -43px calc(-43px * 3);
}

.chat-smile21 {
    background-position: calc(-43px * 2) calc(-43px * 3);
}

.chat-smile22 {
    background-position: calc(-43px * 3) calc(-43px * 3);
}

.chat-smile23 {
    background-position: calc(-43px * 4) calc(-43px * 3);
}

.chat-smile24 {
    background-position: calc(-43px * 5) calc(-43px * 3);
}

.chat-smile25 {
    background-position-y: calc(-43px * 4);
}

.chat-smile26 {
    background-position: -43px calc(-43px * 4);
}

.chat-smile27 {
    background-position: calc(-43px * 2) calc(-43px * 4);
}

.chat-smile28 {
    background-position: calc(-43px * 3) calc(-43px * 4);
}

.chat-smile29 {
    background-position: calc(-43px * 4) calc(-43px * 4);
}

.chat-smile30 {
    background-position: calc(-43px * 5) calc(-43px * 4);
}

.chat-smile31 {
    background-position-y: calc(-43px * 5);
}

.chat-smile32 {
    background-position: -43px calc(-43px * 5);
}

.chat-smile33 {
    background-position: calc(-43px * 2) calc(-43px * 5);
}

.chat-smile34 {
    background-position: calc(-43px * 3) calc(-43px * 5);
}

.chat-smile35 {
    background-position: calc(-43px * 4) calc(-43px * 5);
}

.chat-smile36 {
    background-position: calc(-43px * 5) calc(-43px * 5);
}


/* Donate_popup */

.donate-buy-popup {
    max-width: 500px;
    max-height: 362px;
    height: 100%;
    padding: 10px 0;
    background: #292929;
}

.donate-buy-popup h3 {
    color: white;
    margin: 15px 0 15px 0;
    text-align: center;
}

.donate-buy-popup ul.donate-ul {
    padding: 0 5px;
    margin: 20px 0 0 0;
    height: 230px;
}

.donate-buy-popup ul.donate-ul li {
    width: 100%;
    text-align: center;
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: center;
    color: #b1adad;
    margin-top: 5px;
    background: #232222;
    border-radius: 10px;
    font-weight: bold;
    font-size: 18px;
    border: 1px solid #403f3f;
}

.donate-buy-popup ul.donate-ul li div {
    width: 100%;
    display: flex;
    justify-content: center;
}

.donate-buy-popup ul.donate-ul li .donate-buy-button {
    padding: 9px 29px;
    font-size: 15px;
    border: none;
    /*     border: inset 1px #505454; */
    background: #233533;
    color: #009688;
    border-radius: 10px;
    cursor: pointer;
}

.donate-buy-popup ul.donate-ul li .donate-buy-button:active {
    border: inset 1px #505454;
}

.donate-buy-popup .donate-switch {
    text-align: center;
}

.donate-buy-popup .donate-switch .donate-switch-btn {
    width: 150px;
    height: 30px;
    margin: 10px 5px 0 5px;
    background: #4d47a0;
    background: none;
    border-radius: 25px;
    color: white;
    border: 2px solid;
    cursor: pointer;
}

.donate-buy-popup .donate-switch .donate-switch-btn.active {
    background: #4d47a0;
}


/*  */


/* Smiles */

.smiles-area {
    position: absolute;
    width: 425px;
    height: 265px;
    background: #1a1a1a;
    border-radius: 10px;
    bottom: 85px;
    right: 287px;
}

.smiles-area::before {
    content: '';
    width: 0px;
    display: block;
    position: absolute;
    right: 30px;
    bottom: -16px;
    border: 8px solid transparent;
    border-top: 8px solid #1a1a1a;
}

.smiles-area h3 {
    margin: 5px 0;
    text-align: center;
    color: white;
}

.smiles-area ul.smile-field {
    margin: 5px;
    padding: 0;
    height: 200px;
    background: #232323;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    justify-content: center;
}

.smiles-area ul.smile-field li {
    margin: 5px;
}

.smiles-area ul.smile-switch {
    margin: 0 5px 5px 5px;
    padding: 0;
    display: flex;
    height: 25px;
}

.smiles-area ul.smile-switch li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
    width: 100%;
    color: white;
    font-size: 13px;
    cursor: pointer;
    background: #545050;
    border-radius: 25px;
}

.smiles-in-room {
    transform: translate(119px, 130px);
}

.simple-smile {
    width: 50px;
    height: 50px;
    background: url(/assets/mafia/img/smiles.svg) no-repeat 0 0 / 475px;
    cursor: pointer;
}

.smile_2 {
    background-position-x: calc((-85px / 2) * 2);
}

.smile_3 {
    background-position-x: calc(-85px * 2);
}

.smile_4 {
    background-position-x: calc(-85px * 3);
}

.smile_5 {
    background-position-x: calc(-85px * 4);
}

.smile_6 {
    background-position-x: calc(-85px * 5);
}

.smile_7 {
    background-position-y: calc((-85px / 2) * 2);
}

.smile_8 {
    background-position: -85px -85px;
}

.smile_9 {
    background-position: calc(-85px * 2) -85px;
}

.smile_10 {
    background-position: calc(-85px * 3) -85px;
}

.smile_11 {
    background-position: calc(-85px * 4) -85px;
}

.smile_12 {
    background-position: calc(-85px * 5) -85px;
}

.smile_13 {
    background-position-y: calc(-85px * 2);
}

.smile_14 {
    background-position: -85px calc(-85px * 2);
}

.smile_15 {
    background-position: calc(-85px * 2) calc(-85px * 2);
}

.smile_16 {
    background-position: calc(-85px * 3) calc(-85px * 2);
}

.smile_17 {
    background-position: calc(-85px * 4) calc(-85px * 2);
}

.smile_18 {
    background-position: calc(-85px * 5) calc(-85px * 2);
}

.smile_19 {
    background-position-y: calc(-85px * 3);
}

.smile_20 {
    background-position: -85px calc(-85px * 3);
}

.smile_21 {
    background-position: calc(-85px * 2) calc(-85px * 3);
}

.smile_22 {
    background-position: calc(-85px * 3) calc(-85px * 3);
}

.smile_23 {
    background-position: calc(-85px * 4) calc(-85px * 3);
}

.smile_24 {
    background-position: calc(-85px * 5) calc(-85px * 3);
}

.smile_25 {
    background-position-y: calc(-85px * 4);
}

.smile_26 {
    background-position: -85px calc(-85px * 4);
}

.smile_27 {
    background-position: calc(-85px * 2) calc(-85px * 4);
}

.smile_28 {
    background-position: calc(-85px * 3) calc(-85px * 4);
}

.smile_29 {
    background-position: calc(-85px * 4) calc(-85px * 4);
}

.smile_30 {
    background-position: calc(-85px * 5) calc(-85px * 4);
}

.smile_31 {
    background-position-y: calc(-85px * 5);
}

.smile_32 {
    background-position: -85px calc(-85px * 5);
}

.smile_33 {
    background-position: calc(-85px * 2) calc(-85px * 5);
}

.smile_34 {
    background-position: calc(-85px * 3) calc(-85px * 5);
}

.smile_35 {
    background-position: calc(-85px * 4) calc(-85px * 5);
}

.smile_36 {
    background-position: calc(-85px * 5) calc(-85px * 5);
}


/*  */

.gold {
    color: gold !important;
}

.nick.gold {
    font-weight: bold;
}

.private-message .private_messages-input {
    height: 30px;
    margin: 5px;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
}

.private-message .private_messages-area {
    height: 165px;
    background: #262627;
    margin: 5px;
    border-radius: 10px;
    overflow: auto;
}

.private-message {
    max-width: 420px;
    max-height: 245px;
    background: #353434;
}

.private-message header.private_message-header {
    height: 35px;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.private-message header.private_message-header h3 {
    margin: 0;
    padding: 0;
    text-align: center;
    color: white;
}

.private-msg .nick,
.private-msg .private-text {
    color: #1be823 !important;
}

.private-msg .private-text {
    margin: 0 5px;
}

.private-msg .nick {
    font-weight: bold;
}

.popup-close {
    position: absolute;
    right: 0;
    top: 0;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    cursor: pointer;
    color: #807d7d;
    border-radius: 25px;
}


/* Profile footer */

footer.prof-footer {
    height: 180px;
    margin-bottom: 10px !important;
    background: #1e1d1f;
    border-radius: 14px;
    text-align: center;
}

footer.prof-footer .present-btn {
    margin-top: 10px;
    padding: 10px 35px;
    font-size: 20px;
    color: #9126c7;
    border: 2px solid;
    background: none;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: -1px 2px 8px;
    text-shadow: 3px 1px 6px;
}

footer.prof-footer ul#presents {
    height: 100px;
    padding: 0 5px;
    display: flex;
    align-items: center;
}

footer.prof-footer ul#presents li {
    width: 70px;
    height: 70px;
    background: red;
    border-radius: 8px;
    margin: 5px;
}


/*  */


/* Profile */


/* Profile middle */

.prof-awards h3 {
    text-align: center;
    margin: 5px 0;
    color: white;
}

.prof-awards ul#prof_awards {
    padding: 0 5px;
    width: auto;
    max-height: 263px;
    margin: 0;
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
}

.prof-awards ul#prof_awards li {
    width: 56px;
    height: 56px;
    border: 2px solid white;
    margin: 2px;
    border-radius: 50%;
}

.prof-rank h3,
.prof-rank h4 {
    text-align: center;
    margin: 5px 0;
    color: white;
}

.prof-rank .rank-image {
    max-width: 200px;
    height: 200px;
    margin: auto;
    margin-top: 5px;
    background: url(https://csgohub.ru/uploads/posts/2016-12/1482724055_r8qbfbu.png) no-repeat center;
}

.prof-content .prof-nick {
    text-align: center;
    color: white;
    margin-top: 5px;
    font-weight: bold;
}

.prof-content .prof-actions {
    margin-top: 10px;
    text-align: center;
}

.prof-content .prof-actions .prof-action-btn {
    margin-top: 10px;
    width: 200px;
    height: 35px;
    font-size: 15px;
    color: #7b7b7b;
    border: 2px solid;
    background: 0;
    border-radius: 25px;
    font-weight: bold;
    cursor: pointer;
}

.prof-content .prof-image {
    width: 115px;
    height: 115px;
    margin: auto;
    margin-top: 5px;
}

.prof-content .level-progress {
    width: 190px;
    height: 25px;
    margin: auto;
    margin-top: 20px;
    border-radius: 25px;
    border: 2px solid white;
    display: flex;
}

.prof-content .level-progress .l-progress {
    width: 25px;
    height: 25px;
    background: red;
    border-radius: 25px;
}

.prof-content .level-progress .prof-level {
    position: absolute;
    width: 35px;
    height: 35px;
    align-items: center;
    background: #0400ff;
    border-radius: 25px;
    color: white;
    font-weight: bold;
    transform: translate(-20px, -7px);
    border: 2px solid;
    text-align: center;
    line-height: 2.2;
}

.prof-content .level-progress .level-percents {
    position: absolute;
    width: 190px;
    text-align: center;
    line-height: 1.6;
    color: white;
    z-index: 1;
    font-weight: bold;
}

.prof-middle {
    height: 300px;
    display: flex;
    background: #37353a;
    border-radius: 14px;
    overflow: hidden;
}

.prof-middle .prof-column {
    width: 100%;
}

.prof-middle .prof-column:not(:last-child) {
    border-right: 5px solid #474648;
}


/*  */

.prof-nav {
    width: 100%;
}

header.prof-header {
    height: 40px;
    background: #3c3c3c;
    display: flex;
    align-items: center;
}

header.prof-header .prof_head-button {
    height: 30px;
    margin-left: 15px;
    border: none;
    background: #292828;
    color: white;
    border-radius: 25px;
    padding: 0 20px;
    cursor: pointer;
}

header.prof-header .prof-close {
    width: 40px;
    height: 40px;
}

header.prof-header .prof_head-button.active {
    background: linear-gradient(45deg, #635e7b, #484443);
}

#popupContainer {}

.popup-align {
    width: 100%;
    height: 100%;
    position: absolute;
    animation: popup-show .3s ease;
    z-index: 5;
    border-radius: 10px;
    /* border: 2px solid #4c4b4b; */
    box-shadow: 6px 6px 12px 0px black;
    overflow: hidden;
}

@keyframes popup-show {
    0% {
        transform: scale(.3);
    }
    90% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}

.popup-hide {
    animation: popup-hide .3s ease;
}

@keyframes popup-hide {
    0% {
        transform: scale(1);
    }
    60% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(0);
    }
}

.profile {
    max-width: 900px;
    width: 100%;
    height: 550px;
    background: black;
}


/* Chat */

.chat-area {
    height: 345px;
    margin: 5px;
    overflow: auto;
}

.chat-area p {
    font-size: 14px;
    color: white;
    word-break: break-all;
    margin: 10px 0;
}

.chat-area p .time {
    color: #b7b5b5;
    margin-right: 5px;
    font-size: 12px;
}

.nick {
    cursor: pointer;
}

.chat-area p .nick {
    color: #00adff;
}

.chat-area p .message-text {
    line-height: 1.4;
}

.input-area {
    height: 35px;
    display: flex;
    background: black;
    align-items: center;
    width: 100%;
    max-width: 100%;
}

.chat-input {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    padding-left: 8px;
    color: white;
}

.chat-input.in-room {
    width: 840px;
}

.shout {
    background-position-x: -50px !important;
}

.smiles {
    background-position: -25px -25px !important;
}

.send {
    background-position-x: -126px !important;
}

.input-btn {
    border: none;
    cursor: pointer;
    padding: 0;
}

.input-btn:hover {
    opacity: .8;
}

.input-btn:active {
    transform: scale(.9);
}


/* Online */

.bottom .online-column {}

.bottom .online-column h4 {
    color: white;
    text-align: center;
    margin: 8px 0;
}

.bottom .online-column ul#online {
    padding: 0 10px;
    height: 356px;
    overflow: auto;
    background: #292828;
    margin: 0 !important;
}

.bottom .online-column ul#online li {
    display: flex;
    align-items: center;
    color: white;
    text-align: center;
    margin-top: 5px;
}


/* Rooms */

.room-column ul#rooms {
    padding: 10px;
    margin: 0;
    height: 280px;
    overflow: auto;
}

.room-column ul#rooms li {
    display: flex;
    color: white;
    width: 100%;
    align-items: center;
    border-bottom: 1px solid #333333;
    padding: 8px 0;
}

.room-column ul#rooms li .creator-nick {
    width: 150px;
    text-align: center;
}

.room-column ul#rooms li div {
    width: 110px;
    text-align: right;
    margin-right: 10px;
}

.room-column ul#rooms li .room-button .room-enter {
    background: #20abd8;
}

.small-button {
    color: white;
    padding: 4px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


/* Friends */

.friend-column h4 {
    text-align: center;
    color: white;
    margin: 8px 0;
}

.friend-column ul {
    padding: 0 10px;
    height: 266px;
    overflow: auto;
    background: #292828;
    margin: 0 !important;
}

.friend-column ul#friends li {
    display: flex;
    align-items: center;
    color: white;
    text-align: center;
    margin-top: 5px;
}

.small-photo {
    height: 30px;
    width: 30px !important;
    border: 1px solid;
    cursor: pointer;
}

.column-nick {
    max-width: 140px;
    width: 100%;
    color: white;
    margin-left: 20px;
    text-align: left;
    cursor: pointer;
}

.pm {
    cursor: pointer;
    transform: scale(0.9);
    background-position-x: -75px !important;
}

.pm-input {
    width: 365px;
}

.pm-p {
    color: #ada7a7;
    font-size: 15px;
    line-height: 1;
    margin: 8px 5px;
    word-break: break-all;
}

.pm-p .nick {
    color: #dcdada;
}

.pm-p.from_me .nick {
    color: white;
}


/* Bottom */

.bottom {
    height: 390px;
    display: flex;
}

.chat-column {
    background: #666666;
}


/* Footer */

footer.mafia-footer {
    height: 40px;
    margin-top: 0;
    background: #1a1a1a;
    display: flex;
}

footer.mafia-footer .middle-footer ul#chat_switch {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer.mafia-footer .middle-footer ul#chat_switch li {
    height: 70%;
    color: white;
    margin-left: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    cursor: pointer;
    font-size: 14px;
    background: #545050;
    border-radius: 25px;
}

.margin {
    margin: 10px 20px 0 20px;
}


/* Middle */

.corridor-middle {
    /* height: 100%;
    max-height: 300px; */
    height: 300px;
    display: flex;
}

.corridor-side {
    width: 100%;
    max-width: 250px;
    height: 100%;
    background: #333333;
}

.room-column {
    background: #1a1a1a;
}

.corridor-middle-column {
    /* width: 660px; */
    width: 100%;
}


/* Buttons */

.head-buttons {
    width: 48px;
    height: 48px;
    display: block;
    border: none;
    cursor: pointer;
    margin-right: 40px;
}

.tops-button {
    background: url(https://img.icons8.com/nolan/48/000000/leaderboard.png) no-repeat;
}

.achievements-button {
    background: url(https://img.icons8.com/nolan/48/000000/prize.png) no-repeat;
}

.rating-button {
    background: url(https://img.icons8.com/nolan/48/000000/star.png) no-repeat;
}

.nav-center button {}

.ico {
    background: url(/assets/mafia/img/icons.svg) no-repeat 0 0;
    display: block;
}

.small-ico {
    width: 24px;
    height: 24px;
    margin-right: 10px;
    background-size: 150px;
}

i.i-money {}

i.i-diamond {
    background-position-x: -25px;
}

.balance-button {}


/* Header */

header.corridor-header {
    display: flex;
    justify-content: center;
    height: 50px;
    align-items: center;
    background: #1a1a1a;
    padding: 0 20px;
}

.prof-image {
    width: 48px;
    height: 48px;
    border: none;
    border-radius: 25px;
    margin-right: 10px;
    background-size: cover !important;
    cursor: pointer;
}

.head_balance {
    width: 100%;
    display: flex;
    align-items: center;
}

.corridor-nav-right {
    background: #333333;
    border-radius: 25px;
    justify-content: center;
    max-width: 245px;
    padding-left: 20px;
}


/* .button-buy {
    height: 32px;
    width: 32px;
    background: #656464;
    border: none;
    border-radius: 25px;
    color: white;
    cursor: pointer;
    font-size: 24px;
} */

.button-buy {
    width: 32px;
    height: 32px;
    background-size: 200px;
    border: none;
    cursor: pointer;
    background-position: 0px -33px;
}

.corridor-header nav {
    width: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    color: white;
}

.corridor-nav-center {
    display: flex;
    justify-content: center;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    /* padding: 0;
    margin: 0;
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif, 'Segoe UI', Tahoma, Verdana;
    overflow: hidden; */
    padding: 0;
    margin: 0;
    background: black;
    font-family: sans-serif, 'Segoe UI', Tahoma, Verdana;
}

#mafia {
    max-width: 1200px;
    max-height: 800px;
    height: 100%;
    position: relative;
    background: #2f2f2f;
    margin: auto;
}

* {
    outline: none;
}

ul {
    list-style: none;
}

.shout-msg .message-text {
    font-weight: bold;
}

.my-nick {
    color: #ff8100 !important;
}

.create-room {
    max-width: 460px;
    max-height: 300px;
    background: #2f2d2d;
}

.create-room h3 {
    color: white;
    text-align: center;
    margin: 25px 0px;
}

.create-room .create-room-params {
    display: grid;
    margin: 0px 40px;
}

.create-room .create-room-params label {
    color: white;
    display: flex;
    height: 40px;
    align-items: center;
}

.create-room .create-room-params label select,
.create-room .create-room-params label input {
    position: absolute;
    right: 40px;
}

.create-room .create-room-params label select {
    padding: 4px 9px;
    border: 2px solid;
    color: white;
    background: 0;
    border-radius: 25px;
}

.create-room .create-room-params label select option {
    background: black;
}

.create-room .cr-btn-area {
    text-align: center;
    margin-top: 10px;
}

.create-room .cr-btn-area .create-btn {
    padding: 6px 40px;
    font-size: 15px;
    color: white;
    border: 2px solid;
    background: #484343;
    border-radius: 25px;
    cursor: pointer;
}

.time-of-day {
    padding: 8px 0px;
    color: white;
    text-align: center;
    margin: 5px;
    border-radius: 5px;
    font-weight: bold;
}

.time-of-day.day {
    background: #FFEB3B;
    color: black;
}

.time-of-day.night {
    background: #0c5996;
}


/* Court */

.court {
    width: 500px;
    height: 300px;
    background: #3b3b3e;
}

.court h3 {
    color: white;
    text-align: center;
}

.court .court-player-photo {
    width: 130px;
    height: 130px;
    margin: auto;
    background: #333335;
}

.court .court-btns {
    margin-top: 50px;
    text-align: center;
}

.court .court-btns button {
    width: 150px;
    padding: 5px 0;
    font-size: 18px;
    background: 0;
    border: 2px solid;
    cursor: pointer;
    border-radius: 25px;
    font-weight: bold;
}

.court .court-btns .condemn {
    color: #e04848;
}

.court .court-btns .acquit {
    color: #48e062;
}

.input-btns {
    display: flex;
}

app-root {
    display: block !important;
}


/* [hidden] {
    display: block;
    visibility: hidden;
} */


/*  */