.mod-info {
    width: 1000px !important;
    padding: 5px;
}

.mod-info-area {
    margin: 25px;
    min-height: 300px;
    max-height: 800px;
    overflow: auto;
}

.mod-info-area p {
    color: #f9f9f9;
    margin: 15px 10px;
    text-align: left;
}

.mod-info-area p .nick {
    margin: 0 !important;
}

.mod-info-area .nick {
    font-weight: bold;
}

.mod-info-area .role {
    font-weight: bold;
    margin-left: 10px;
}

.get-roles-input,
.get-roles-btn {
    background: none;
    color: white;
    border: 2px solid;
    padding: 7px 10px;
    border-radius: 25px;
    margin-right: 10px;
}

.get-roles-input {
    padding-right: 30px;
}

.get-roles-input::placeholder {
    color: rgba(255, 255, 255, 0.753);
}

.get-roles-btn {
    font-weight: bold;
    cursor: pointer;
}

button.new-info {
    position: fixed;
    bottom: 149px;
    right: 170px;
}

.info-bgrd {
    display: flex;
    align-items: center;
    justify-content: left;
    background: #7db5d6;
    border-radius: 5px;
    color: white;
    margin-top: 10px;
    margin: 15px 10px;
}

.img {
    width: 50px;
    height: 50px;
    background-size: cover !important;
    border-radius: 5px;
    margin-right: 10px;
}

.room-id {
    width: max-content;
    text-align: center !important;
    font-weight: bold;
    margin: auto !important;
    padding: 8px 25px;
    background: #7db5d6;
    border-radius: 20px;
}

.offline {
    color: #3F51B5;
    font-weight: bold;
    text-align: center;
    font-size: 20px;
}
.night-move {
    
}
.viewers {
    color: white;
    font-weight: bold;
    width: fit-content;
    margin: auto;
    background: #90bee0;
    padding: 5px 15px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.com-search {
    padding: 10px 5px;
    background: #6dca8d;
}

.com-search .nick {
    margin: 0 5px;
}

@media only screen and (max-width: 650px) {
    .roles {
        padding: 10px !important;
        border-radius: 30px !important;
        margin-top: 65px !important;
    }
    .mod-info-area {
        max-height: 60vh;
        padding: 0;
    }
    .mod-info {
        width: 100% !important;
    }
}