.hint_area {
    background: white;
    border-radius: 25px;
    text-align: left;
    color: black;
    margin: 0 auto;
}

.hint_area h1 {
    color: #2174f5;
}

.hint_area h2 {
    color: grey;
    font-weight: 400;
    font-size: 21px;
}

.hint_area h3 {
    font-size: 16px;
    font-weight: 400;
}

.hint-popup {
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.6392156862745098);
    display: flex;
    align-items: center;
    top: 0;
}

.hint-btn {
    margin-top: 18px;
    color: #2174f5 !important;
    display: inline-block;
    text-decoration: none;
    font-size: 17px !important;
}

.close-popup {
    float: right;
    background: url(/assets/bestmafia/close.svg) no-repeat 0% 0% /cover;
    width: 25px;
    height: 25px;
    padding: 0;
    cursor: pointer;
    border: none;
    border-radius: 25px;
}

.wallet-ico {
    width: 85px;
    height: 51px;
    background: url(/assets/bestmafia/wallets.svg) 0% 0% / cover;
}

.wallets {
    display: inline-flex;
}

.wallets label {
    cursor: pointer;
    border-radius: 12px;
}

.wallets label:hover {
    box-shadow: 0 0 10px 0 #f5f5f5
}

.wallets label:not(:last-child) {
    margin-right: 10px;
}

.wallets input[type=radio] {
    display: none;
}

.wallets input[type=radio]:checked+label {
    animation: bounce .3s ease both;
}

.wallets input[type=radio]:checked+label::before,
.wallets input[type=radio]:checked+label::after {
    content: '';
    display: block;
    float: right;
}

@keyframes bounce {
    from {
        transform: scale(.8);
    }
    to {
        transform: scale(1);
    }
}

.wallets input[type=radio]:checked+label::before {
    height: 20px;
    width: 20px;
    background: #f0f400;
    border-radius: 25px;
    box-shadow: 2px 2px 7px 0px black;
}

.wallets input[type=radio]:checked+label::after {
    border-left: 3px solid black;
    height: 4px;
    border-bottom: 3px solid black;
    width: 10px;
    position: relative;
    transform: rotate(-45deg);
    left: 17px;
    top: 5px;
}

.payeer {
    background-position-x: right;
}

.bank {
    background-position-x: -90px;
}

.yandex {
    background-position-x: 175px;
}

.qiwi {
    background: url(https://upload.wikimedia.org/wikipedia/en/thumb/7/7b/Qiwi_logo.svg/1280px-Qiwi_logo.svg.png) no-repeat;
    background-size: contain;
    background-position-y: center;
}

.categories {
    position: absolute;
    top: 180px;
    width: 100%;
}

.categories .btns {
    width: fit-content;
    margin: auto;
    border-radius: 25px;
    overflow: hidden;
}

.categories .btns label {
    cursor: pointer;
    display: inline-block;
    text-align: center;
    line-height: 2.7;
    border: 0;
    height: 45px;
    width: 175px;
    font-size: 16px;
    background: #79aad8a6;
    color: #dad6d6;
    font-weight: bold;
}

.categories .btns label.active {
    background: #64b5fd;
    color: white;
}

.shop {
    max-width: 500px;
    padding: 10px;
}

.shop a {
    color: white;
}

.shop h1 {
    border-bottom: 1px solid;
    margin: 15px 50px;
    padding-bottom: 15px;
    text-align: center;
}

.a-hint {
    height: 30px;
    width: 30px;
    font-size: 18px;
    border-radius: 25px;
    color: white;
    background: none;
    border: 2px solid;
    margin-left: 5px;
    cursor: pointer;
    line-height: 1.5;
}

.shop input {
    color: white;
    padding: 10px;
    background: 0;
    border: 0;
    border-bottom: 1px solid;
    padding-left: 5px;
    padding-top: 20px;
}

.shop input::-webkit-input-placeholder,
.shop input::placeholder {
    color: white;
    transition: .3s;
    transition-property: all
}

.shop input::-ms-input-placeholder {
    color: white;
    transition: .3s;
    transition-property: all
}

.shop input:focus::placeholder,
.shop input:focus::-webkit-input-placeholder {
    transform: translateY(-20px);
    color: white;
}

.shop input:focus::-ms-input-placeholder {
    transform: translateY(-20px);
    color: white;
}

.shop-btn {
    padding: 12px 55px;
    font-size: 20px;
    background: 0;
    color: white;
    font-weight: bold;
    border: 2px solid;
    border-radius: 25px;
    cursor: pointer;
}

.shop-btn:hover,
.a-hint:hover,
.close:hover {
    background: #ffffff17;
}