<app-sidebar></app-sidebar>
<div id="main_area" class="shop">
    <h1>Бот-меню</h1>
    <h2><a href="https://vk.com/@bot.menu-wcm" target="_blank">Описание</a></h2>
    <h2>Цена: 110₽/месяц</h2>
    <h2>
        <input type="text" placeholder="Введите ID" autocomplete="off" #maf_id>
        <button class="a-hint" (click)="hideHintPopup=false" matRipple matRippleColor="#ffffff30">?</button>
    </h2>
    <h2>Выберите способ оплаты:</h2>
    <h2 class="wallets">
        <input type="radio" name="wallet" id="yandex" (change)="walletType='yandex'">
        <label for="yandex" class="wallet-ico yandex" title="С помощью платежной системы Яндекс деньги"></label>
        <input type="radio" name="wallet" id="bank" (change)="walletType='bank'">
        <label for="bank" class="wallet-ico bank" title="С помощью кредитной карточки"></label>
        <input type="radio" name="wallet" id="qiwi" (change)="walletType='qiwi'">
        <label for="qiwi" class="wallet-ico qiwi" title="С помощью платежной системы Qiwi wallet"></label>
    </h2>
    <h2><button class="shop-btn buy" (click)="makePayment(maf_id);" matRipple matRippleColor="#ffffff30">Купить</button></h2>
</div>
<div class="hint-popup" [hidden]="hideHintPopup">
    <div class="hint_area shop">
        <button class="close-popup" (click)="hideHintPopup=true" matRipple matRippleColor="#2174f56e"></button>
        <h1>Как узнать свой ID</h1>
        <h2>Сделайте следующие действия:</h2>
        <h3>1. Зайдите в мафию через сайт <a href="http://bestmafia.com/" style="color:black" target="_blank">bestmafia.com</a>, затем зайдите в инструмент разработчика, нажав на клавиатуре «F12»
        </h3>
        <h3>2. Сверху в панели найдите «Console» и перейдите туда</h3>
        <h3>3. Чуть ниже надписи «Console», надпись «top_frame». Нажмите и вместо нее поставьте «www.mafia-rules.net/»
        </h3>
        <h3>4. Впишите в текстовое поле следующее:
            <em style="font-weight: bold;">my_id</em> и нажмите Enter. Вам должно выдать цифры, это и есть
            <span>ваш ID</span>
        </h3>
        <h3 style="text-align: center">
            <a class="shop-btn hint-btn" href="https://www.youtube.com/watch?v=7tcvZ7d39RM'" target="_blank" matRipple matRippleColor="#2174f56e">Посмотреть видео</a>
        </h3>
    </div>
</div>